@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,form,fieldset,legend,input,textarea,button,select,div,figure{margin:0;padding:0;box-sizing:border-box;word-break:keep-all;word-wrap:break-word}
td,th{margin:0;padding:0;word-break:keep-all;word-wrap:break-word}
body,input,textarea,select,button,table,th,td,pre{color:#333;font-family:GmaketSans, Arial, sans-serif;font-weight:400;font-size:20px;line-height:1.7}
h1,h2,h3,h4,h5,h6{font-weight:normal;line-height:1.2}
img,fieldset,iframe{border:0;vertical-align:top}
textarea{resize:none}
ul,ol{margin:0;padding:0;list-style:none}
ul:after,ol:after{content:'';display:block;clear:both}
em,address{font-style:normal}
input,select{vertical-align:middle}
table{width:100%;border-collapse:separate;empty-cells:show;border-spacing:0}
hr,legend{display:none}
caption{overflow:hidden;position:static;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
strong, b{font-weight:600}
button{box-sizing:border-box;border:none;background:none}
label{cursor:pointer}
a{text-decoration:none}
a:hover{text-decoration:none}
a{box-sizing:border-box}
a, button{cursor:pointer}
section{height:100vh;box-sizing:border-box}


.hidden{overflow:hidden;position:absolute;font:0/0 GmarketSans, Arial}

.skip{position:relative;width:100%;overflow:hidden}
.skip a{display:block;width:100%;margin-top:-50px}
.skip a:focus{height:50px;margin-top:0;color:#fff;font-size:20px;line-height:50px;text-align:center;background:#111}

header{width:100%;height:150px}
header .logoArea{height:100px;display:flex;justify-content:center;align-items:center;background:#fff}
header .logoArea a{width:400px;height:60px}
header nav{text-align:center;background:#E60012}
header nav .gnb{display:flex;justify-content:center;align-items:center;height:50px}
header nav .gnb > li{position:relative;display:block;height:100%}
header nav .gnb > li > a{display:flex;justify-content:center;align-items:center;width:100%;height:100%;padding:0 100px;color:#fff;font-size:24px;font-weight:500}
header nav .gnb > li > ul{display:none;position:absolute;top:100%;left:0;right:0;float:left;background:#fff;color:#000}
header nav .gnb > li > ul > li{}
header nav .gnb > li > ul > li > a{display:block;width:100%;height:100%;padding:10px 0}

.swiper{}
.swiper .swiper-slide > img{width:100vw}
.brandArea{display:flex}
.brandArea > div{width:50%}
.brandArea > .redArea{background:#ECCDAA;padding:134px 0 187px 157px}
.brandArea > div > img{width:100%;height:100%}

.brandArea .redArea .mainTxt{font-size:38px;font-weight:500}
.brandArea .redArea h2{margin-top:88px;font-size:65px}
.brandArea .redArea strong{font-size:65px;font-weight:600;color:#ED1B23}
.brandArea .redArea .subTxt{margin:38px 0 127px 0;font-size:31px;font-weight:400}
.brandArea .menuBtn{display:flex;width:600px}
.brandArea .menuBtn a:nth-child(1){margin-right:126px}
.redBtnS{display:flex;justify-content:center;align-items:center;width:236px;height:82px;border-radius:25px;background:#E60012;color:#fff;font-size:40px}