@charset "utf-8";

/* Common */
body *{font-family:'GmarketSans'}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,form,fieldset,legend,input,textarea,button,select,div,figure{margin:0;padding:0;box-sizing:border-box;word-break:keep-all;word-wrap:break-word}
td,th{margin:0;padding:0;word-break:keep-all;word-wrap:break-word}
body,input,textarea,select,button,table,th,td,pre{color:#333;font-family:'GmaketSans';font-weight:400;font-size:20px;line-height:1.3}
h1,h2,h3,h4,h5,h6{font-weight:normal;line-height:1.2}
img,fieldset,iframe{border:0;vertical-align:top}
textarea{resize:none}
ul,ol{margin:0;padding:0;list-style:none}
ul:after,ol:after{content:'';display:block;clear:both}
em,address{font-style:normal}
input,select{vertical-align:middle}
table{width:100%;border-collapse:separate;empty-cells:show;border-spacing:0}
hr,legend{display:none}
caption{overflow:hidden;position:static;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
strong, b{font-weight:600}
button{box-sizing:border-box;border:none;background:none}
label{cursor:pointer}
a{text-decoration:none}
a:hover{text-decoration:none}
a{box-sizing:border-box}
a, button{cursor:pointer}
section{box-sizing:border-box}


.hidden{overflow:hidden;position:absolute;font:0/0 GmarketSans, Arial}

.skip{position:relative;width:100%;overflow:hidden}
.skip a{display:block;width:100%;margin-top:-50px}
.skip a:focus{height:50px;margin-top:0;color:#fff;font-size:20px;line-height:50px;text-align:center;background:#111}

body{background:url(../img/pattern_bg.png) repeat-y;background-size:100% auto}
header{width:100%;height:150px}
header .logoArea{height:100px;display:flex;justify-content:center;align-items:center;background:#fff}
header .logoArea a{width:400px;height:60px}
header nav{text-align:center;background:#E60012}
header nav .gnb{display:flex;justify-content:center;align-items:center;height:50px}
header nav .gnb > li{position:relative;display:block;height:100%}
header nav .gnb > li > a{display:flex;justify-content:center;align-items:center;width:100%;height:100%;padding:0 100px;color:#fff;font-size:24px;font-weight:500}
header nav .gnb > li > ul{display:none;position:absolute;top:100%;left:0;right:0;float:left;background:#fff;color:#000}
header nav .gnb > li > ul > li{}
header nav .gnb > li > ul > li > a{display:block;width:100%;height:100%;padding:10px 0}

section{}
.swiper{}

.swiper .swiper-slide > img{width:100vw}
.brandArea{display:flex}
.brandArea > div{width:50%}
.brandArea > div:first-child{background:url(../img/pattern_bg.png) repeat-y}
.brandArea > .redArea{background:#ECCDAA;padding:134px 0 187px 157px}
.brandArea > div > img{width:100%;height:100%}

.brandArea .redArea .mainTxt{font-size:38px;font-weight:500}
.brandArea .redArea h2{margin-top:88px;font-size:65px}
.brandArea .redArea strong{font-size:65px;font-weight:600;color:#ED1B23}
.brandArea .redArea .subTxt{margin:38px 0 127px 0;font-size:31px;font-weight:400}
.brandArea .menuBtn{display:flex;width:600px}
.brandArea .menuBtn a:nth-child(1){margin-right:126px}
.redBtnS{display:flex;justify-content:center;align-items:center;width:236px;height:82px;border-radius:50px;background:#E60012;color:#fff;font-size:40px;margin:0 auto}

.menuArea{background:url(../img/pattern_bg.png) repeat-y;background-size:100% auto;padding-top:100px;padding-bottom:60px;text-align:center}
.menuArea > h2{text-align:center;font-size:52px;line-height:1.7;margin-bottom:100px}
.menuArea .selectMenu{padding:0 85px;display:flex;justify-content:center;align-items:center}
.menuArea .selectMenu .menuList{width:100%;margin-right:70px}
.menuArea .selectMenu .menuList:last-child{margin-right:0}
.menuArea .selectMenu .menuList > div{position:relative}
.menuArea .selectMenu .menuList > div img{width:100%;height:100%}
.menuArea .selectMenu .menuList .detailArea{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.3);color:#fff;text-align:center;padding:150px 30px 0}
.menuArea .selectMenu .menuList .detailArea h3{font-size:49px;font-weight:500;margin-bottom:50px}
.menuArea .selectMenu .menuList .detailArea h3+p{font-size:34px;font-weight:400}
.menuArea .selectMenu .menuList .detailArea .plusBtn{position:absolute;font-size:0;width:35px;height:35px;background:url(../img/plus.png) no-repeat;background-size:100% auto;z-index: 1;left:50%;margin-left:-17px;bottom:40px}
.menuArea .selectMenu .menuList > h3{text-align:center;margin-top:20px;font-size:49px}
.redBtnL{width:585px;color:#fff;padding:30px 130px;background:#E60012;border-radius:50px;font-size:41px}
.menuArea .btnArea{margin-top:70px;height:116px}

.pointArea{background:url(../img/pattern_bg.png) repeat-y;background-size:100% auto;margin-bottom:210px}
.pointArea > img{width:100%}
.pointArea .txt{font-size:53px;text-align:center;margin-bottom:80px}
.pointArea .txt em{color:#E60012;font-size:56px}
.pointArea .redArea{position:relative;width:100%;padding:0 130px}
.pointArea .redArea img{width:100%;height:100%}
.pointArea .redArea > a{position:absolute;left:50%;margin-left:-292px;bottom:30px;text-align:center}

.videoArea{display:flex;padding-bottom:200px}
.videoArea > div{width:100%;text-align:center;padding:0 70px}
.videoArea .mvArea{position:relative}
.videoArea .mvArea::after{content:'';display:block;position:absolute;right:0;bottom:0;height:100%;width:1px;background:#707070;}
.videoArea .mvArea .descrip{font-size:36px;font-weight:600;margin-bottom:30px;position:relative}
.videoArea .mvArea .descrip::before{content:'';display:block;width:277px;height:90px;position:absolute;left:50%;margin-left:-138px;top:-100px;background:url(../img/tvn.png) no-repeat;background-size:100% auto;}
.iframeContainer {position: relative;width: 100%;height: 0;padding-top: 56.25%}
.iframeContainer iframe {position: absolute;width: 100%;height: 100%;top: 0;left: 0}
.callArea{text-align:center}
.callArea > p{margin-top:33px;font-size:37px;font-weight:600}
.callArea .number{font-size:46px;font-weight:500}
.callArea .btnArea{margin-top:33px}

footer{width:100%;padding:35px 0 20px;background:#464646;text-align:center}
footer > ul{display:flex;justify-content:center;align-items:center;margin-top:15px}
footer > ul > li{position:relative}
footer > ul > li::after{content:'';display:block;width:1px;height:100%;background:#fff;position:absolute;top:0;bottom:0;right:0}
footer > ul > li:last-child:after{content:none}
footer > ul > li > a{text-decoration:none;color:#fff;font-size:26px;font-weight:500;padding:0 5px;}